[submodule "deps/py360"]
	path = deps/py360
	url = git@bitbucket.org:ssrc/py360.git
[submodule "deps/sleuthkit"]
	path = deps/sleuthkit
	url = https://github.com/ajnelson/sleuthkit.git
[submodule "deps/uxtaf"]
	path = deps/uxtaf
	url = git@bitbucket.org:ssrc/uxtaf.git
[submodule "deps/dfxml"]
	path = deps/dfxml
	url = git@bitbucket.org:ssrc/dfxml.git
