[submodule "deps/py360"]
	path = deps/py360
	url = https://github.com/ajnelson/py360.git
[submodule "deps/sleuthkit"]
	path = deps/sleuthkit
	url = https://github.com/ajnelson/sleuthkit.git
[submodule "deps/uxtaf"]
	path = deps/uxtaf
	url = https://github.com/ajnelson/uxtaf.git
[submodule "deps/dfxml"]
	path = deps/dfxml
	url = https://github.com/ajnelson/dfxml.git
[submodule "deps/dfxml_schema"]
	path = deps/dfxml_schema
	url = https://github.com/dfxml-working-group/dfxml_schema.git
[submodule "deps/upartsfs"]
	path = deps/upartsfs
	url = https://github.com/ajnelson/upartsfs.git
